:root{
--header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(19, 64%, 54%);
  --first-color-alt: hsl(19, 64%, 52%);
  --title-color: hsl(19, 16%, 15%);
  --text-color: hsl(19, 16%, 35%);
  --text-color-light: hsl(19, 8%, 55%);
  --body-color: hsl(19, 100%, 96%);
  --container-color: hsl(19, 100%, 97%);

--subtitle-font: "Dancing Script", cursive;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
.popular__container{
    padding-top: 9rem;
    grid-template-columns: 250px;
    justify-content: center;
    row-gap: 5.5rem;
  }
  
  .popular__card{
    position: relative;
    background-color: var(--container-color);
    padding: 7rem 2rem 1.5rem;
    box-shadow: 0 8px 20px hsla(19, 64%, 48%, .08);
    border-radius: 1rem;
    text-align: center;
    transition: background .4s;
  }
  
  .popular__img{
    width: 125px;
    position: absolute;
    inset: 0;
    top: -5.5rem;
    margin: 0 auto;
    transition: transform .4s;
  }
  
  .popular__name{
    font-size: var(--h3-font-size);
    font-family: var(--title-font);
    margin-bottom: .25rem;
  }
  
  .popular__description{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: 1rem;
  }
  
  .popular__price{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: var(--first-color);
  }
  
  .btn1{
    background-color: var(--first-color);
    padding: 6px;
    border-radius: 15%;
    width: 40%;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1rem;
    box-shadow: 0 4px 20px hsla(19, 64%, 20%, .2);
    cursor: pointer;
    transition: background .3s; 
    text-decoration: none;
  }
  
  .btn1:hover{
    background-color: var(--first-color-alt);
  }
  
  .popular__card:hover .popular__img{
    transform: translateY(-.25rem);
  }
  
  